.mat-toolbar {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;
}

.demo-table {
  min-width: 60%;
  margin: 0 auto;
  .mat-column {
    &-id {
      width: 10%;
    }
    &-name {
      width: 30%;
    }
    &-age {
      width: 10%;
    }
    &-status {
      width: 20%;
    }
    &-createdAt {
      width: 30%;
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
  font-size: 12px;
}
